/*
                   _    __      _ _       
                  | |  / _|    | (_)      
  _ __   ___  _ __| |_| |_ ___ | |_  ___  
 | '_ \ / _ \| '__| __|  _/ _ \| | |/ _ \ 
 | |_) | (_) | |  | |_| || (_) | | | (_) |
 | .__/ \___/|_|   \__|_| \___/|_|_|\___/ 
 | |                                      
 |_|                                      
*/

*{
    padding: 0px;
    margin: 0px;
    font-family: 'Lato', sans-serif;
}

html {
    scroll-behavior: smooth;
}

a:hover {
    text-decoration: none!important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Acme', sans-serif;
}

/* ---- nav ---- */
.wrapper {
    display: flex;
    width: 100%;
    text-align: center;
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: black;
    color: white;
    transition: all 0.3s;
}

.azul #sidebar {
    background-color: #CDEFFF;
    color: #064780;
}

.lilas #sidebar {
    background-color: #685C82;
    color: #E9F1F2;
}

#sidebar.active {
    margin-left: -250px;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}

.caixa {
    margin: 15px auto;
    padding: 10px;
}

#primeira {
    margin-top: 35px;
    font-size: 26px;
}

#primeira p {
    margin: 0px;
}

#primeira .signature {
    font-family: 'Caveat', cursive;
    font-size: 30px;
    color:white;
}

.azul #primeira .signature {
    color: #064780;
}

.lilas #primeira .signature {
    color: #E9F1F2;
}

#primeira .signature:hover {
    font-family: 'Caveat', cursive;
    color: #afafaf;
    font-size: 32px;
}


.azul #primeira .signature:hover {
    color: #0854C7;
}

.lilas #primeira .signature:hover {
    color: #bdc8d8;
}

#segunda {
    margin-top: 25px;
    font-size: 22px;
}

#segunda ul li {
    padding: 10px;
}

#segunda a {
    color: white;
}

.azul #segunda a {
    color: #064780;
}

.lilas #segunda a {
    color: #e9f1f2;
}

#segunda a:hover {
    color: #afafaf;
    font-size: 23px;
    padding: 10px;
}

.azul #segunda a:hover {
    color: #0854C7;
}

.lilas #segunda a:hover {
    color: #bdc8d8;
}

#terceira a div {
    width: 30px;
    height: 30px;
    display: inline-block;
    padding: 0px;
    margin: 0px;
    
}

#terceira a .div1{
    background-color: #064780;
    border: 1px solid white;
}

#terceira a .div2{    
    background-color: #0854C7;
    border: 1px solid white;
}

#terceira a .div3{
    background-color: #A0C2DE;
    border: 1px solid white;   
}

#terceira a .div4{
    background-color: #CDEFFF;
    border: 1px solid white;
}

#terceira a .div5{  
    background-color: #EDEDF4;
    border: 1px solid white;
}

#terceira a .div6{
    background-color: #E9F1F2;
    border: 1px solid white;
}

#terceira a .div7{
    background-color: #BDC8D8;
    border: 1px solid white;
}

#terceira a .div8{
    background-color: #918FB3;
    border: 1px solid white;
}

#terceira a .div9{
    background-color: #685C82;
    border: 1px solid white;
}

#terceira a .div10{
    background-color: #9D65A4;
    border: 1px solid white;
}

#quarta a {
    color: white;
    display: inline-block;
    font-size: 30px;
}

.azul #quarta a {
    color: #064780;
}

.lilas #quarta a {
    color: #e9f1f2;
}

#quarta a:hover {
    color: #afafaf;
    font-size: 32px;
}

.azul #quarta a:hover { 
    color: #0854C7;
}

.lilas #quarta a:hover {
    color: #bdc8d8;
}
 
/* ---- .nav ---- */

/* ---- footer ---- */

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 50px;
}

footer .signature { 
    font-family: 'Caveat', cursive;
    color: white;
    font-size: 30px;
}

.azul footer .signature {
    color: #064780; 
}

.lilas footer .signature {
    color: #e9f1f2;
}

footer .signature:hover {
    color: #afafaf;
    font-size: 32px;
}

.azul footer .signature:hover {
    color: #0854C7;
}

.lilas footer .signature:hover {
    color: #bdc8d8;
}

footer .imgfacebook {
    background-image: url('../img/facebook_32.png');
    height: 32px;
    width: 32px;
    display: inline-block;  
}

footer .imgfacebook:hover {
    background-image: url('../img/facebook_32.png'); 
}

.azul footer .imgfacebook {
    background-image: url('../img/facebook_azul_32.png');
}

.azul footer .imgfacebook:hover {
    background-image: url('../img/facebook_azul_hover_32.png');
} 

.lilas footer .imgfacebook {
    background-image: url('../img/facebook_lilas_32.png')
}

.lilas footer .imgfacebook:hover {
    background-image: url('../img/facebook_lilas_hover_32.png');
}

footer .imginstagram{
    background-image: url('../img/instagram_32.png');
    height: 32px;
    width:  32px;
    display: inline-block;
}

footer .imginstagram:hover {
    background-image: url('../img/instagram_hover_32.png');
}

.azul footer .imginstagram {
    background-image: url('../img/instagram_azul_32.png');
}

.azul footer .imginstagram:hover{
    background-image: url('../img/instagram_azul_hover_32.png');
}

.lilas .imginstagram {
    background-image: url('../img/instagram_lilas_32.png');
}

.lilas .imginstagram:hover {
    background-image: url('../img/instagram_lilas_hover_32.png');
}

footer .imgtwitter{
    background-image: url('../img/twitter_32.png');
    height:  32px;
    width:  32px;
    display: inline-block;
}

footer .imgtwitter:hover {
    background-image: url('../img/twitter_hover_32.png');   
}

.azul footer .imgtwitter {
    background-image: url('../img/twitter_azul_32.png'); 
}

.azul footer .imgtwitter:hover {
    background-image: url('../img/twitter_azul_hover_32.png');
}

.lilas footer .imgtwitter {
    background-image: url('../img/twitter_lilas_32.png');
}

.lilas footer .imgtwitter:hover {
    background-image: url('../img/twitter_lilas_hover_32.png');
}

footer .imgreddit{
    background-image: url('../img/reddit_32.png');
    height:  32px;
    width:  32px;
    display: inline-block;
}

footer .imgreddit:hover {
    background-image: url('../img/reddit_hover_32.png');  
}

.azul footer .imgreddit {
    background-image: url('../img/reddit_azul_32.png');
}

.azul footer .imgreddit:hover {
    background-image: url('../img/reddit_azul_hover_32.png');
}

.lilas footer .imgreddit {
    background-image: url('../img/reddit_lilas_32.png');
}

.lilas footer .imgreddit:hover {
    background-image: url('../img/reddit_lilas_hover_32.png');
}

footer .imglinkedin{
    background-image: url('../img/linkedin_32.png');
    height: 32px;
    width: 32px;
    display: inline-block;
}

footer .imglinkedin:hover {
    background-image: url('../img/linkedin_hover_32.png');  
}

.azul footer .imglinkedin {
    background-image: url('../img/linkedin_azul_32.png');
}

.azul footer .imglinkedin:hover {
    background-image: url('../img/linkedin_azul_hover_32.png');
}

.lilas footer .imglinkedin {
    background-image: url('../img/linkedin_lilas_32.png');
}

.lilas footer .imglinkedin:hover {
    background-image: url('../img/linkedin_lilas_hover_32.png');
}

footer .imggit{
    background-image: url('../img/git_32.png');
    height: 32px;
    width: 32px;
    display: inline-block;
}

footer .imggit:hover {
    background-image: url('../img/git_hover_32.png');  
}

.azul footer .imggit {
    background-image: url('../img/git_azul_32.png');
}

.azul footer .imggit:hover {
    background-image: url('../img/git_azul_hover_32.png');
}

.lilas footer .imggit {
    background-image: url('../img/git_lilas_32.png');
}

.lilas footer .imggit:hover {
    background-image: url('../img/git_lilas_hover_32.png');
}

/* ---- .footer ---- */

/* ---- content ---- */

#content {
    width: calc(100% - 250px);
    padding: 40px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

.azul #content {
    background-color: #064780;
    color: #CDEFFF;
}

.lilas #content {
    background-color: #e9f1f2;
    color: #685c82;
}

#content.active {
    width: 100%;
}

#content .btn.toggle {
     background-color: black;
     border: solid 1px black;
     position: absolute;
     top: 0;
     margin: 15px;
}

#content .btn:focus {
    box-shadow: 0 0 0 0.2rem #afafaf;
}

.azul #content .svg-inline--fa {
    color: #0854C7;
}

.lilas #content .svg-inline--fa {
    color: #BDC8D8;
}

.azul #content .btn.toggle {
    background-color: #CDEFFF;
    border: 1px solid #CDEFFF;
}

.azul #content .btn:focus {
    box-shadow: 0 0 0 0.2rem #0854C7;
}

.lilas #content .btn.toggle {
    background-color: #685c82;
    border: #685c82;
}

.lilas #content .btn:focus {
    box-shadow: 0 0 0 0.2rem #BDC8D8;
}

/* ---- .content ---- */

/* ---- quotes ---- */

#quotes {
    position: relative;
    margin: 35px 0;    
}

/* ---- .quotes ---- */

/* ---- header ---- */

#header .imgheader{
    background-image: url('../img/moon_blue_bw_small.jpg');
    object-fit: cover;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
}

#header .imgheader:hover{
    background-image: url('../img/moon_blue_small.jpg');
    object-fit: cover;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    transition: .2s;
}

/* ---- .header ---- */

/* --- rest --- */

#rest {
    position: relative;
    margin-top: 500px;
}

/* ---- .rest ----*/


/* ---- intro ---- */

#intro {
    position: relative;
    margin: 75px auto;  
    min-height: 350px; 
    padding-top: 100px;  
}


#intro h1, h3 {
    font-family: 'Acme', sans-serif;
    margin-bottom: 50px;
    text-align: left;
}

#intro p {
    font-size: 20px;
    text-align: left;
}

#intro .imgintro {
    border-radius: 10%;
    filter: grayscale(100%);
    display: inline-block;
 
}

#intro .imgintro:hover {
    filter: grayscale(0%);
}

/*
#intro .imgintro {
    background-image: url('../img/me_bw.jpg');
    width: 350px;
    height: 350px;
    margin-left: 50px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    margin: 20px auto;
}

#intro .imgintro:hover {
    background-image: url('../img/me.jpg');
    width: 350px;
    height: 350px;
    margin-left: 50px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    margin: 20px auto;
}

.azul #intro .imgintro {
    background-image: url('../img/me.jpg');
}

.lilas #intro .imgintro {
    background-image: url('../img/me.jpg');
}

.azul #intro .imgintro:hover {
    background-image: url('../img/me_bw.jpg');
}

.lilas #intro .imgintro:hover {
    background-image: url('../img/me_bw.jpg');
}
*/
#intro article {
    width: 100%;
    margin: 5px auto;
    padding: 0px;
    text-align: center;
    display: inline-block;
    line-height: 34px;
}

/* ---- .intro ---- */

/* ---- recent ---- */

#recent {
    text-align: center;
    position: relative;
    margin: 50px auto;  
    min-height: 500px;
    padding-top: 75px
}

#recent img {
    filter: grayscale(100%);
    margin: 25px 100px;
}

#recent img:hover {
    filter: grayscale(0%);
}

#recent h2 {
    margin: 10px auto;
}
#recent p {
    font-size: 24px;
    margin: 50px auto;
}

#recent .btn.btn-dark {
    background-color: black;
}

#recent .btn.btn-dark:hover {
    background-color: white;
    color: black;
}


/* ---- .recent ---- */

/* ---- skills ---- */
#skills {
    width: 66%;
    margin: 35px auto;
    padding: 0px;
}

#skills h3 {
    font-size: 40px;
    text-align: center;
    font-family: 'Acme', sans-serif;
    margin: 25px auto;
}

#skills p {
    font-size: 22px;
    text-align: center;
}

#skills section.progress {
    border: 1px solid black;
}

#skills section.progress section.progress-bar {
    background-color: black;
}

.azul #skills section.progress {
    border: 1px solid #ededf4;
}

.lilas #skills section.progress {
    border: solid 1px #685c82;
}

.azul #skills section.progress section.progress-bar {
    background-color: #0854C7;
    color: #ededf4;
}

.lilas #skills section.progress section.progress-bar {
    background-color: #685c82;
    color: #e9f1f2;
}

/* ---- .skills ---- */

/* ---- contacts ---- */


/* ---- .contacts ---- */

/* ---- helpers ---- */


/* ---- .helpers ---- */

/* ---- media queries ---- */
@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
        height: 100vp;
    }
    #content.active {
        width: calc(100% - 250px);
        min-height: 100vp;
        }
    #sidebarCollapse span {
        display: none;
    }
}


